.container {
    position: relative;
    height: 100%;
    width: 100%;
}

.code {
    position: absolute;
}

.layer {
    position: absolute;
    color: rgba(0, 0, 0, 0);
}

.layer[data-layer='0'] > :global(b) {
    background-color: rgba(255, 255, 0, 0.5);
}

.layer[data-layer='1'] > :global(b) {
    background-color: rgba(255, 0, 255, 0.5);
}

.layer[data-layer='2'] > :global(b) {
    background-color: rgba(0, 255, 255, 0.5);
}
